@{
    ViewData["Title"] = "Главная";
}

<h2>Архивы погодных условий в Москве</h2>

<ul>
    <li><a asp-controller="Weather" asp-action="Index">Просмотр архивов погодных условий</a></li>
    <li><a asp-controller="Upload" asp-action="Index">Загрузка архивов погодных условий</a></li>
</ul>
