@{
    ViewData["Title"] = "Главная страница";
}

<h2>Главное меню</h2>
<ul>
    <li><a href="@Url.Action("List", "Weather")">Просмотр архивов погодных условий</a></li>
    <li><a href="@Url.Action("Upload", "Weather")">Загрузка архивов погодных условий</a></li>
</ul>
